.score-section {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score__container{
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #434C6B;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
}

.gameName {
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(124.08deg, #1B60C7 0%, #0066FF 0.01%, rgba(131, 0, 47, 0.89) 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-shadow: 0px 1px 11px rgba(2, 255, 23, 0.1);
}

.score {
    background-color: #fff;
    color: rgb(29, 29, 29);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        padding: 0 12px;

        @media (max-width: 550px) {
            font-size: 12px;
        }
    }

    &__counter {
        font-size: 32px;
        font-weight: bold;
    }


}
